// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.padded {
  padding: 100px 0;
}

.wrapper-grey {
  background: #F4F4F4;
}

.wrapper {
  padding: 100px 0;
  img {
    width: 80px;
  }
}

.wrapper-trip {
  padding: 50px 0 100px 0;
  background: #F4F4F4;
}

.wrapper-news {
  padding: 20px 0;
}
