.banner2 {
  margin: 50px 0;
  height: 150px;
  background: black;
  background-size: cover !important;
}

.wrapper-main {

  padding: 0 10%;
  h1 {
    margin-top: 0;
    font-size: 18px;
  }
}

.profile-all {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

.profile-header {

}

.profile-desc {
  padding-left: 20px;
}
